<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EssentialFeedTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeediOSTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15071B432D9D758500A0600B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15071B6F2D9D7FDA00A0600B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>151BD6FE2D13770500697AE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>151BD7082D13770500697AE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>151BD75C2D1377E200697AE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154FE2272D94463D00CED12E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154FE2302D94463E00CED12E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
